{% extends 'base.html' %}

{% block title %}
    Welcome
{% endblock %}

{% block style %}
main,
nav {
    margin: 0 !important;
}
{% endblock %}

{% block body %}
<div class="outer-div">
    <div class="waviy">
        <span style="--i:1">O</span>
        <span style="--i:2">S</span>
        <span style="--i:3"> </span>
        <span style="--i:4"> </span>
        <span style="--i:5">S</span>
        <span style="--i:6">I</span>
        <span style="--i:7">M</span>
        <span style="--i:8">U</span>
        <span style="--i:9">L</span>
        <span style="--i:10">A</span>
        <span style="--i:11">T</span>
        <span style="--i:12">O</span>
        <span style="--i:13">R</span>
    </div>
</div>
{% endblock %}