{% extends 'base.html' %}

{% block title %}
    Team
{% endblock %}

{% block body %}
    <div class="team-div">
        <h1>Team Members</h1>
        <table class="table table-hover">
            <tr>
                <th>Member</th>
                <th>Roll No.</th>
            </tr>
            <tr>
                <td>Marappu Santosh</td>
                <td>201CS131</td>
            </tr>
            <tr>
                <td>Md Rakib Hasan</td>
                <td>201CS132</td>
            </tr>
            <tr>
                <td>Mehul Todi</td>
                <td>201CS133</td>
            </tr>
            <tr>
                <td>Mohit Janghu</td>
                <td>201CS134</td>
            </tr>
            <tr>
                <td>Nikhil Kumar</td>
                <td>201CS135</td>
            </tr>
            <tr>
                <td>Nitin Jayadeep</td>
                <td>201CS136</td>
            </tr>
            <tr>
                <td>Abhinav Sai</td>
                <td>201CS137</td>
            </tr>
            <tr>
                <td>Patel Aeris</td>
                <td>201CS138</td>
            </tr>
            <tr>
                <td>Shiva Ram Charan</td>
                <td>201CS139</td>
            </tr>
            <tr>
                <td>Posa Sathwik</td>
                <td>201CS140</td>
            </tr>
        </table>
    </div>
{% endblock %}